.play-btn {
  position: relative;
  flex: 1 1 50%;
  align-self: self-end;
  transition: all 0.3s ease;

  &__img-container {
    padding: 15px;
    border-radius: 50%;
    background: #fed530;
  }

  &:hover {
    transform: scale(1.05);
  }

  img {
    cursor: pointer;
    width: 34px;
  }

  @media (max-width: 1400px) {
    flex: 1 1 20%;
  }

  @media (max-width: 900px) {
    margin: 0 auto;
    flex: none;
    order: 2;
  }
}

.CircularProgressbar-path {
  stroke-width: 1.5px;
}
.CircularProgressbar-trail {
  stroke-width: 1.5px;
}
// .CircularProgressbar-text {
//   fill: yellow;
// }
// .CircularProgressbar-background {
//   fill: green;
// }