$yellow: #fed530;

.trailers {
  position: relative;
  flex: 1 1 100%;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  align-self: center;
  padding: 0 0 30px;
  overflow: hidden;

  p {
    margin: 0 0 32px;

    @media (max-width: 479.98px) {
      text-align: center;
      margin: 16px 0;
    }
  }

  @media (max-width: 900px) {
    order: 3;
  }
}

.gallery {
  // display: flex;
  gap: 16px;

  @media (max-width: 479.98px) {
    margin: 20px 0;
  }

  img {
    width: 296px;
    height: 160px;
  }

  &__item {
    position: relative;
    transition: all 0.3s ease;

    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 15px;

    @media (max-width: 1023.98px) {
      max-width: 246px;
    }
    @media (max-width: 899.98px) {
      max-width: 206px;
    }
    @media (max-width: 767.98px) {
      max-width: 296px;
    }

    span {
      position: absolute;
      left: 24px;
      bottom: -10px;
    }
  }
}

.slick-slide.slick-center {
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.slick-list {
  padding: 15px 0 20px;
}

.slick-dots li button:before {
  color: $yellow;
  font-size: 10px;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: $yellow;
  opacity: 1;
}
