$yellow: #fed530;

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(270deg, #000000 -2.92%, rgba(0, 0, 0, 0) 220%);
}

.main {
  flex: 1 1 auto;
}

//--------------------------------/

.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 104px;
  }

  &__container_absolute {
    position: absolute;
    padding: 0 30px 0 0;
    width: 100%;
    z-index: 1;

    @media (min-width: 1400px) {
      max-width: 1260px;
    }

    @media (max-width: 1400px) {
      max-width: 1023.98px;
    }
  }

  &.container {
    position: relative;
  }
}

.top-header {
  position: relative;

  &__logo {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    img {
      margin-right: 15px;
    }

    @media (max-width: 1023.98px) {
      span {
        display: none;
      }
    }
  }

  // .top-header__search
  &__search {
    margin-left: auto;
  }

  // .top-header__user
  &__user {
  }
}

.menu {
  padding: 0 50px;

  @media (max-width: 767.98px) {
    position: absolute;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 48px;

    @media (max-width: 767.98px) {
      display: none;

      &.burger-active {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: self-start;
        width: 150px;
        top: -15px;
        left: 105px;
        background: rgba(254, 213, 48, 1);
        color: black;
        padding: 15px;
        gap: 25px;
        border-radius: 5px;
        z-index: 2;
      }
    }
  }

  // .menu__item
  &__item {
    transition: all 0.2s ease;

    &:hover {
      padding: 0 0 4px;
      border-bottom: 4px solid $yellow;
      font-weight: 700;
      line-height: 24px;
    }
  }

  // .menu__link
  &__link {
  }
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  z-index: 3;

  @media (max-width: 767.98px) {
    display: block;
  }

  span {
    transition: all 0.3s ease 0s;
    position: absolute;
    background-color: $yellow;
    width: 100%;
    height: 4px;
    top: 9px;
    border-radius: 15px;

    &:first-child {
      top: 0px;
    }

    &:last-child {
      top: auto;
      bottom: 0px;
    }
  }

  &.active {
    span {
      transform: scale(0);

      &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 2px);
      }

      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 2px);
      }
    }
  }
}

.search-header {
  display: flex;
  padding: 0 25px;

  &__button {
    color: inherit;
    font-size: 24px;
    padding: 0 15px;
  }

  &.active {
    .search-header__input {
      opacity: 1;
      top: 90px;
      visibility: visible;
    }
  }

  &__input {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px;
    color: white;
    transition: all 0.3s ease;

    position: absolute;
    z-index: 1;
    right: 0;
    top: -1%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &::placeholder {
      color: white;
      opacity: 0.7;
    }

    &:focus {
      border: 1.5px solid $yellow;
    }
  }
}
.user {
  // .user__link
  &__link {
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__img {
    width: 48px;
    height: 48px;
  }

  @media (max-width: 767.98px) {
    span {
      display: none;
    }
  }
}

//--------------------------------------------------/

.previews-container {
  min-height: 100vh;
  background-image: url(../../assets/images/previews/00.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .container {
    min-height: 100vh;
    display: flex;
  }
}

.previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    opacity: 0.55;
  }

  &__btn-play {
    position: relative;
    flex: 1 1 50%;
    align-self: self-end;

    img {
      cursor: pointer;

      @media (max-width: 767.98px) {
        width: 100px;
      }
    }

    @media (max-width: 1400px) {
      flex: 1 1 20%;
    }

    @media (max-width: 900px) {
      margin: 0 auto;
      flex: none;
      order: 2;
    }
  }

  &__description {
    position: relative;
    justify-content: center;
    align-self: self-end;
    flex: 1 1 50%;
    padding: 100px 105px 0;

    @media (max-width: 1400px) {
      flex: 1 1 80%;
    }

    @media (max-width: 900px) {
      flex: 1 1 100%;
      padding: 100px 105px 0;
      order: 1;
    }

    @media (max-width: 767.98px) {
      padding: 100px 50px 0;
    }

    @media (max-width: 479.98px) {
      padding: 100px 0 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 96px;

    @media (max-width: 1400px) {
      font-size: 50px;
      line-height: 56px;
    }
  }

  &__subtitle {
    margin: 24px 0 32px;

    @media (max-width: 479.98px) {
      margin: 24px 0 24px;
    }
  }

  &__details {
    font-weight: 500;
    line-height: 24px;
  }

  &__trailers {
    position: relative;
    flex: 1 1 100%;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    align-self: center;
    padding: 0 0 30px;

    p {
      margin: 0 0 32px;

      @media (max-width: 479.98px) {
        text-align: center;
        margin: 16px 0;
      }
    }

    @media (max-width: 900px) {
      order: 3;
    }
  }
}

.gallery {
  display: flex;
  gap: 16px;

  @media (max-width: 479.98px) {
    margin: 20px 0;
  }

  img {
    width: 296px;
    height: 160px;
  }

  &__item {
    position: relative;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    span {
      position: absolute;
      right: 24px;
      bottom: -25px;
    }
  }
}

// ----------------------------------/

.main {
  margin: 50px 0;
}

.tab-section {
  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    padding: 0 0 4px;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 1400px) {
      font-size: 36px;
      line-height: 52px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 126px 0 56px;

    @media (max-width: 1400px) {
      margin: 56px 0;
    }

    button {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: $yellow;

      &:hover {
        text-decoration: underline;
      }

      @media (max-width: 478.98px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 560px;
    gap: 16px;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 300px;
    }

    @media (max-width: 1023.98px) {
      grid-template-columns: none;
    }

    @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  padding: 24px;
  position: relative;

  @media (max-width: 1400px) {
    padding: 15px;
  }

  @media (max-width: 479.98px) {
    height: 400px;
  }

  &:hover {
    -webkit-box-shadow: inset 0px 0px 20px 5px rgba(254, 213, 48, 0.74);
    box-shadow: inset 0px 0px 20px 5px rgba(254, 213, 48, 0.74);
  }

  &__genre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    gap: 10px;
    width: 77px;
    height: 27px;
    background: $yellow;
    border-radius: 16px;
    position: absolute;
    top: 24px;
    left: 24px;
    color: #2e2e2e;
  }

  &_wider {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__details {
    font-size: 14px;
    line-height: 24px;
    display: flex;
    gap: 25px;

    img {
      margin-right: 8px;
      width: 14px;
    }

    @media (max-width: 1400px) {
      flex-direction: column;
      gap: 10px;
      font-size: 10px;
      line-height: 14px;
    }
  }

  &__duration {
  }

  &__views {
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin: 20px 0 0;

    @media (max-width: 1400px) {
      font-size: 24px;
      line-height: 36px;
    }
  }
}
// ------------------------------/
.footer {
  background: rgba(0, 0, 0, 0.4);
  min-height: 50px;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    display: flex;
    align-items: center;

    span {
      margin: 0 50px 0 10px;
    }

    img {
      width: 24px;
    }
  }
}
