.single-page {
  padding: 130px 0 0;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  &__background-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__background-color {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__title {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 20px;
  }

  &__columns {
    display: flex;
    gap: 30px;
  }

  &__left-column {
    flex: 11 30%;
  }

  &__poster {
    max-width: 300px;
  }

  &__details-list {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    padding-left: 0;
    font-size: 20px;
  }

  &__list-item-name {
  }

  &__list-item-value {
  }

  &__right-column {
    flex: 1 1 70%;
  }

  &__video {
    max-width: 100%;
    height: 475px;
    background-color: yellow;
    margin: 0 0 20px;
  }

  &__overview {
    font-size: 20px;
    line-height: 32px;
  }
}
