$yellow: #fed530;

.search-panel {
  margin-left: auto;
  display: flex;
  padding: 0 25px;

  &__button {
    color: inherit;
    font-size: 24px;
    padding: 0 15px;
  }

  &.active {
    .search-panel__input {
      opacity: 1;
      top: 90px;
      visibility: visible;

      @media(max-width: 767.98px) {
        top: 75px;
      }
    }
  }

  &__input {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px;
    color: white;
    transition: all 0.3s ease;

    position: absolute;
    z-index: 1;
    right: 0;
    top: -1%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &::placeholder {
      color: white;
      opacity: 0.7;
    }

    &:focus {
      border: 1.5px solid $yellow;
    }
  }
}