.description {
  position: relative;
  justify-content: center;
  align-self: self-end;
  flex: 1 1 80%;
  padding: 150px 105px 0;

  @media (max-width: 1400px) {
    flex: 1 1 80%;
  }

  @media (max-width: 900px) {
    flex: 1 1 100%;
    padding: 120px 105px 0;
    order: 1;
  }

  @media (max-width: 767.98px) {
    padding: 120px 50px 0;
  }

  @media (max-width: 479.98px) {
    padding: 120px 0 0;
  }

  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 96px;

    @media (max-width: 1400px) {
      font-size: 50px;
      line-height: 56px;
    }
  }

  &__subtitle {
    margin: 24px 0 32px;

    @media (max-width: 479.98px) {
      margin: 24px 0 24px;
    }
  }

  &__details {
    font-weight: 500;
    line-height: 24px;
  }
}
