$yellow: #fed530;

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  padding: 24px;
  position: relative;

  @media (max-width: 1400px) {
    padding: 15px;
  }

  &:hover {
    -webkit-box-shadow: inset 0px 0px 20px 5px rgba(254, 213, 48, 0.74);
    box-shadow: inset 0px 0px 20px 5px rgba(254, 213, 48, 0.74);
  }

  &_wider {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__genre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    gap: 10px;
    width: 77px;
    height: 27px;
    background: $yellow;
    border-radius: 16px;
    position: absolute;
    top: 24px;
    left: 24px;
    color: #2e2e2e;

    @media (max-width: 479.98px) {
      font-size: 14px;
      line-height: 18px;
      width: 70px;
      height: 20px;
      top: 15px;
      left: 15px;
    }
  }

  &__details {
    font-size: 14px;
    line-height: 24px;
    display: flex;
    gap: 25px;

    img {
      margin-right: 8px;
      width: 14px;
    }

    @media (max-width: 1400px) {
      flex-direction: column;
      gap: 10px;
      font-size: 10px;
      line-height: 14px;
    }
  }

  &__duration, &__views {
    display:  flex;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 64px;
    margin: 10px 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: 1400px) {
      font-size: 24px;
      line-height: 36px;
    }

    @media (max-width: 479.98px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
