$yellow: #fed530;

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  padding: 24px;
  position: relative;
  border-radius: 0;
  border: 0;

  @media (max-width: 1400px) {
    padding: 15px;
  }

  &:hover {
    -webkit-box-shadow: inset 0px 0px 20px 5px rgba(254, 213, 48, 0.74);
    box-shadow: inset 0px 0px 20px 5px rgba(254, 213, 48, 0.74);
  }

  &_wider {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__raiting {
    font-size: 14px;
    line-height: 24px;
    display: flex;
    gap: 25px;
    margin-bottom: auto;

    img {
      margin-right: 8px;
      width: 36px;
    }

    @media (max-width: 1400px) {
      gap: 10px;
      font-size: 18px;
      line-height: 36px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 64px;
    margin: 10px 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: 1400px) {
      font-size: 24px;
      line-height: 36px;
    }

    @media (max-width: 479.98px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
